<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>UNII</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Escolha o método de pesquisa</h1>
        <form method="POST">
            <label for="termo">Digite o termo de busca:</label>
            <input type="text" id="termo" name="termo" required placeholder="Ex: Certain occur.">

            <div class="radio-buttons">
                <label>
                    <input type="radio" name="metodo" value="linear">
                    Busca Linear
                </label>
                <label>
                    <input type="radio" name="metodo" value="binaria">
                    Busca Binária
                </label>
            </div>

            <label for="campo">Buscar por:</label>
            <select id="campo" name="campo">
                <option value="titulo" selected>Título</option>
                <option value="autor">Autor</option>
                <option value="ano">Ano</option>
                <option value="ISBN">ISBN</option>
            </select>

            <button type="submit">Buscar</button>
        </form>

        {% if livros %}
        <div class="results-container">
            {% if metodo %}
            <div class="sort-stats">
                <p>Ordenado com <strong>{{ metodo }}</strong> em <strong>{{ "%.2f"|format(tempo) }}ms</strong> usando <strong>{{ iteracoes }}</strong> iterações</p>
            </div>
            {% endif %}
            
            <ul class="result-list">
                {% for livro in livros %}
                    <li>
                        <strong>{{ livro.titulo }}</strong> - {{ livro.autor }} ({{ livro.ano }})
                        <span class="isbn-text"> ISBN: {{ livro.ISBN }}</span>
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% else %}
        <p class="no-results">Nenhum livro encontrado.</p>
        {% endif %}

        <div class="links">
            <a href="/estatisticas">📊 Ver Estatísticas</a>
            <a href="http://127.0.0.1:5000/livros">📚 Ver Todos os Livros</a>
        </div>
    </div>
    <footer class="footer">
        <div class="footer-content">
            <p><strong>Nome:</strong> Gabriel do Nascimento Lopes</p>
            <p><strong>Turma:</strong> 3º Ano B</p>
            <p><strong>Atividade:</strong> UN2: AV2 - Sistema de Busca e Ordenação de Acervo de Livros</p>
            <p><strong>Email:</strong> <a href="mailto:gabriellopes.zip@email.com">gabriellopes.zip@email.com</a></p>
            <p><strong>GitHub:</strong> <a href="https://github.com/gabrieldonlopes/ifba_project/tree/main/estr_dados-algoritmos/code" target="_blank">github.com/seuusuario/seurepositorio</a></p>
        </div>
    </footer>
</body>
</html>
